<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
  <script src="vue.min.js"></script>
  <script src="main.js" defer></script>
</head>

<body>
  <div id="app">
    <header>
      <search-block v-on:ololo="clickSearch" v-model="searchLine"></search-block>
      <button class="cart-button" type="button" @click="isVisibleCartSwap">Корзина</button>
    </header>
    <main>
      <cart-list v-if="isVisibleCart"></cart-list>
      <h2>Каталог</h2>
      <goods-list v-if="connected" :goods="filteredGoods"></goods-list>
      <error-massage v-if="!connected"></error-massage>
    </main>
  </div>
</body>

</html>