header {
    border: solid 1px black;
    padding: 10px 20px;
    text-align: end
}

.cart-button, .search-button {
    border: solid 1px black;
    border-radius: 10px;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}

main {
    padding: 20px;
}

.goods-list, .cart-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.good-item {
    border: solid 1px black;
    margin: 10px;
    padding: 9px;
}

.cart-price, .cart-count {
    flex: 0 0 100%;
    text-align: center;
  }

.error-massage {
    color: red;
    font-size: 28px;
    text-align: center;
}

.search-block {
    display: inline;
}

.title {
    width: 100%;
}